/*General Style*/
@import url("../css/animate.css");
@import url("../css/bootstrap.min.css");
@import url("../css/slimmenu.min.css");
@import url("../css/owl.carousel.css");
@import url("../fonts/font-awesome/css/font-awesome.min.css");

/* Font Family */ 
@font-face {
    font-family: 'FuturaStd-Book';
    src: url('../fonts/futurastd/FuturaStd-Book.woff2') format('woff2'),
        url('../fonts/futurastd/FuturaStd-Book.woff') format('woff');
    font-weight: 900;
    font-style: normal;
} 
@font-face {
    font-family: 'Futura-Heavy';
    src: url('../fonts/futurastd/Futura-Heavy.woff2') format('woff2'),
        url('../fonts/futurastd/Futura-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebasneue/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/bebasneue/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueBook';
    src: url('../fonts/bebasneue/BebasNeueBook.woff2') format('woff2'),
        url('../fonts/bebasneue/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueLight';
    src: url('../fonts/bebasneue/BebasNeueLight.woff2') format('woff2'),
        url('../fonts/bebasneue/BebasNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/bebasneue/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/bebasneue/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/**/
html {
    overflow-x: hidden;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    -ms-overflow-style: scrollbar;
    font-family: 'FuturaStd-Book';
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.66px;
    color: #000000;
    overflow: hidden;
}
p {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.66px;
    color: #000000;
}
@media (max-width: 1600px) {
    body,p {
        font-size: 19px;
    }
}
@media (max-width: 1199px) {
    body,p {
        font-size: 18px;
    }
}
@media (max-width: 991px) {
    body,p {
        font-size: 17px;
        line-height: 1.4;
        letter-spacing: 0.3px;
    }
}
@media (max-width: 575px) {
    body,p {
        font-size: 16px;
        line-height: 1.45;
    }
}
::-moz-selection {
    background: #000000;
    color: #fff;
}
::-webkit-selection {
    background: #000000;
    color: #fff;
}
/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */
a {
    color: #4853a5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
b,
strong {
    font-weight: 700;
    font-family: 'Futura-Heavy';
}
a:hover,
a:focus {
    text-decoration: none;
    color: #cfd827;
    outline: 0;
}
h1:not(.site-title):before,
h2:before {
    display: none;
}
h1 {
    font-family: 'BebasNeueRegular';
    font-size: 95px;
    letter-spacing: 0;
    line-height: 0.9;
    text-transform: uppercase;
}
@media (max-width: 1600px) {
    h1 {
        font-size: 85px;
    }
}
@media (max-width: 1199px) {
    h1 {
        font-size: 75px;
    }
}
@media (max-width: 991px) {
    h1 {
        font-size: 65px;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 52px;
    }
}
@media (max-width: 575px) {
    h1 {
        font-size: 36px;
        line-height: 1;
    }
}
@media (max-width: 400px) {
    h1 {
        font-size: 32px;
    }
}
h2 {
    font-family: 'BebasNeueRegular';
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0;
    text-transform: uppercase;
}
@media (max-width: 1600px) {
    h2 {
        font-size: 30px;
    }
}
@media (max-width: 1199px) {
    h2 {
        font-size: 28px;
    }
}
@media (max-width: 991px) {
    h2 {
        font-size: 26px;
    }
}
@media (max-width: 767px) {
    h2 {
        font-size: 24px;
    }
}
h3 {
    font-family: 'BebasNeueRegular';
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media (max-width: 1600px) {
    h3 {
        font-size: 26px;
    }
}
@media (max-width: 1199px) {
    h3 {
        font-size: 25px;
    }
}
@media (max-width: 991px) {
    h3 {
        font-size: 24px;
    }
}
@media (max-width: 767px) {
    h3 {
        font-size: 22px;
    }
}
@media (max-width: 575px) {
    h3 {
        font-size: 20px;
    }
}
h4 {
    font-family: 'BebasNeueRegular';
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media (max-width: 1199px) {
    h4 {
        font-size: 21px;
    }
}
@media (max-width: 991px) {
    h4 {
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    h4 {
        font-size: 19px;
    }
}
@media (max-width: 575px) {
    h4 {
        font-size: 18px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: #000000;
    margin: 0;
    margin-bottom: 25px;
}
p,
ol,
ul,
blockquote {
    margin: 0 0 30px;
    padding: 0;
}
ol,
ul {
    list-style: none;
}
@media (max-width: 991px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 20px;
    }
    p,
    ol,
    ul,
    blockquote {
        margin: 0 0 20px;
    }
}
@media (max-width: 767px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 15px;
    }
    p,
    ol,
    ul,
    blockquote {
        margin: 0 0 15px;
    }
}
@media (max-width: 575px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px;
    }
    p,
    ol,
    ul,
    blockquote {
        margin: 0 0 10px;
    }
}
.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white h6,
.white p,
.white li,
.white a,
.white span {
    color: #fff;
}
/* ------------------------------------------------------------------ 
    Form 
------------------------------------------------------------------- */
input[type="email"],
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="file"],
input[type="password"],
textarea,
select {
    font-family: 'FuturaStd-Book';
    width: 100%;
    max-width: 100%;
    display: block;
    height: inherit;
    z-index: 1;
    direction: ltr;
    position: relative;
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 0;
    appearance: none;
    color: #000000;
    padding: 17px 25px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: auto;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input:focus,
textarea:focus,
select:focus {
    border-color: #4853a5;
    outline: none;
    box-shadow: none;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder  {
    color: #666666;
    opacity: 1;
    font-size: 18px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: #666666;
    opacity: 1;
    font-size: 18px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: #666666;
    opacity: 1;
    font-size: 18px;
}
.form-group {
    margin-bottom: 30px;
}
select {
    color: #666666;
    cursor: pointer;
    background-image: url(../images/select_arrow.svg);
    background-position: 97% 50%;
    background-size: 24px;
    background-repeat: no-repeat;
}
@media (max-width: 1199px) {
    input[type="email"],
    input[type="text"],
    input[type="tel"],
    input[type="search"],
    input[type="file"],
    input[type="password"],
    textarea,
    select {
        padding: 15px 20px;
        font-size: 17px;
        line-height: 24px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    select::-moz-placeholder  {
        font-size: 17px;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    select:-ms-input-placeholder {
        font-size: 17px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        font-size: 17px;
    }
    .form-group {
        margin-bottom: 25px;
    }
}
@media (max-width: 991px) {
    input[type="email"],
    input[type="text"],
    input[type="tel"],
    input[type="search"],
    input[type="file"],
    input[type="password"],
    textarea,
    select {
        padding: 13px 18px;
        font-size: 16px;
        line-height: 22px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    select::-moz-placeholder  {
        font-size: 16px;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    select:-ms-input-placeholder {
        font-size: 16px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        font-size: 16px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    select {
        background-position: 98% 50%;
        background-size: 20px;
    }
}
@media (max-width: 767px) {
    input[type="email"],
    input[type="text"],
    input[type="tel"],
    input[type="search"],
    input[type="file"],
    input[type="password"],
    textarea,
    select {
        padding: 11px 18px;
        font-size: 15px;
        line-height: 22px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    select::-moz-placeholder  {
        font-size: 15px;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    select:-ms-input-placeholder {
        font-size: 15px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        font-size: 15px;
    }
    .form-group {
        margin-bottom: 15px;
    }
}
@media (max-width: 575px) {
    input[type="email"],
    input[type="text"],
    input[type="tel"],
    input[type="search"],
    input[type="file"],
    input[type="password"],
    textarea,
    select {
        padding: 9px 15px;
        font-size: 14px;
        line-height: 22px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    select::-moz-placeholder  {
        font-size: 14px;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    select:-ms-input-placeholder {
        font-size: 14px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        font-size: 14px;
    }
    select {
        background-size: 18px;
    }
}
/*Buttons*/
.btn_holder {
    margin-top: 40px;
    text-align: center;
}
.btn_holder.left {
    text-align: left;
}
.btn_holder a {
    margin-left: 5px;
}
.btn_holder a:nth-of-type(1) {
    margin-left: 0px;
}
input[type="submit"],
button[type="submit"],
.my_btn {
    font-family: 'BebasNeueBold';
    position: relative;
    min-width: 250px;
    padding: 11px 35px;
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    letter-spacing: 0.6px;
    background-color: #4853a5;
    color: #ffffff !important;
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border: 0;
    opacity: 1;
    border-radius: 100px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover,
button[type="submit"]:hover,
.my_btn:hover {
    color: #000 !important;
    background-color: #cfd827;
    text-decoration: none !important;
}
.my_btn.green {
    color: #000 !important;
    background-color: #cfd827;
}
.my_btn.green:hover {
    background-color: #4853a5;
    color: #ffffff !important;
}
.my_btn.pink {
    color: #fff !important;
    background-color: #e54b93;
}
.my_btn.pink:hover {
    background-color: #cfd827;
    color: #000 !important;
}
@media (max-width: 1199px) {
    input[type="submit"],
    button[type="submit"],
    .my_btn {
        min-width: 220px;
        padding: 11px 30px;
        font-size: 22px;
        line-height: 26px;
    }
}
@media (max-width: 1199px) {
    input[type="submit"],
    button[type="submit"],
    .my_btn {
        min-width: 200px;
        padding: 10px 25px;
        font-size: 21px;
        line-height: 24px;
    }
}
@media (max-width: 991px) {
    .btn_holder {
        margin-top: 25px;
    }
    input[type="submit"],
    button[type="submit"],
    .my_btn {
        min-width: 180px;
        padding: 8px 20px;
        font-size: 20px;
        line-height: 24px;
    }
}
@media (max-width: 767px) {
    .btn_holder {
        margin-top: 20px;
    }
    input[type="submit"],
    button[type="submit"],
    .my_btn {
        min-width: 180px;
        padding: 7px 20px;
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 575px) {
    input[type="submit"],
    button[type="submit"],
    .my_btn {
        padding: 7px 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .btn_holder a {
        margin-left: 2px;
    }
}
img {
    max-width: 100%;
    height: auto;
}
.grid_1200 {
    overflow: hidden;
}
@media (min-width: 1601px) {
    .container{
        max-width: 1400px;
    }
}
/* ---- Header ----- */
.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    display: block;
    background-color: #fff;
    text-align: center;
}
.header .logo {
    padding: 23px 0;
}
.header .logo a {
    display: block;
    max-width: 298px;
    height: 300px;
    margin: 0 auto;
}
.header .logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/**/
.header .main_header {
    background-color: #000000;
    position: relative;
    padding: 0 160px;
}
.header .social_media {
    position: absolute;
    top: 0;
    right: 90px;
    z-index: 1;
    height: 100%;
}
.header .social_media li a {
    color: #fff;
}
.social_media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.social_media li{
    margin-left: 40px;
}
.social_media li a {
    font-size: 36px;
}
.social_media li a:hover {
    color: #cfd827;
}

/* Sticky */
.sticky.header .main_header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

/**/
.header,
.logo,
.logo img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 1600px) {
    .header .logo {
        padding: 15px 0;
    }
    .header .logo a {
        max-width: 188px;
        height: 200px;
    }
    .header .social_media {
        right: 40px;
    }
    .social_media li {
        margin-left: 30px;
    }
    .social_media li a {
        font-size: 34px;
    }
}
@media (max-width: 1199px) {
    .header .logo a {
        max-width: 160px;
        height: 170px;
    }
    .header .main_header {
        padding: 0 90px;
    }
    .header .social_media {
        right: 30px;
    }
    .social_media li {
        margin-left: 20px;
    }
    .social_media li a {
        font-size: 30px;
    }
}
@media (max-width: 991px) {
    .header {
        text-align: left;
        position: relative;
    }
    .mainmenu {
        display: flex;
        position: relative;
    }
    .header .main_header {
        padding: 0;
        position: static;
    }
    .header .collapse-button {
        position: absolute;
        top: -125px;
        right: 0;
    }
    .header .social_media {
        display: none;
    }
}
@media (max-width: 767px) {
    .header .logo a {
        max-width: 130px;
        height: 140px;
    }
    .header .collapse-button {
        top: -110px;
    }
}
@media (max-width: 575px) {
    .header .logo a {
        max-width: 110px;
        height: 120px;
    }
    .header .collapse-button {
        position: absolute;
        top: -95px;
        right: 0;
    }
}


/* Billboard */
.billboard {
    position: relative;
    margin-top: 406px;
}
.billboard .item {
    padding: 60px 0 120px;
    min-height: 560px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.billboard .item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4858a4;
    opacity: 0.4;
}
.billboard .item .container {
    position: relative;
    z-index: 2;
    height: 100%;
}
.billboard .item h1 {
    margin-bottom: 20px;
}
.billboard .item p {
    max-width: 1050px;
    margin: 0 auto 60px;
    line-height: 1.2;
}
.billboard .owl-item.active .item h1 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInDown1;
	animation-delay: 0.3s;
}
.billboard .item .btn_holder{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.billboard .owl-item.active .item .btn_holder {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInUp1;
	animation-delay: 0.4s;
    margin: 0;
}

.lb_swirl {
    position: absolute;
    bottom: 0;
    left: 0;
    object-position: left bottom;
    object-fit: contain;
    width: 510px !important;
    height: 520px !important;
    z-index: 1;
}
.rb_swirl {
    position: absolute;
    object-position: left bottom;
    object-fit: cover;
    right: 0;
    bottom: 0;
    top: 0;
    width: 414px !important;
    height: 100% !important;
    z-index: 1;
}


@-webkit-keyframes fadeInDown1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown1;
  animation-name: fadeInDown1;
}
@-webkit-keyframes fadeInUp1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp1;
  animation-name: fadeInUp1;
}


@media (max-width: 1600px) {
    .billboard {
        margin-top: 290px;
    }
    .billboard .item {
        min-height: 500px;
    }
    .lb_swirl {
        width: 340px !important;
        height: 360px !important;
    }
    .rb_swirl {
        width: 260px !important;
    }
}
@media (max-width: 1199px) {
    .billboard {
        margin-top: 250px;
    }
    .billboard .item {
        padding: 50px 0 100px;
        min-height: 400px;
    }
    .lb_swirl {
        width: 270px !important;
        height: 280px !important;
    }
    .rb_swirl {
        width: 170px !important;
    }
}
@media (max-width: 991px) {
    .billboard {
        margin-top: 0px;
    }
    .billboard .item {
        min-height: 350px;
        padding: 50px 0 90px;
    }
    .billboard .item h1 {
        margin-bottom: 0;
    }
    .billboard .item .btn_holder {
        bottom: 20px;
    }
    .lb_swirl {
        width: 200px !important;
        height: 210px !important;
    }
    .rb_swirl {
        width: 120px !important;
    }
}
@media (max-width: 767px) {
    .billboard .item {
        min-height: 300px;
        padding: 50px 0 90px;
    }
    .lb_swirl {
        width: 200px !important;
        height: 210px !important;
    }
    .rb_swirl {
        width: 90px !important;
    }
}
@media (max-width: 575px) {
    .billboard .item {
        min-height: 210px;
        padding: 40px 0 70px;
    }
    .billboard .item .btn_holder {
        bottom: 15px;
    }   
    .lb_swirl {
        width: 80px !important;
        height: 90px !important;
    }
    .rb_swirl {
        width: 60px !important;
    }
}

/* --- Sections --- */
.sections {
    padding: 50px 0;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sections.sm {
    padding: 36px 0;
}
.sections.lg {
    padding: 80px 0;
}
.sections.lg_bt {
    padding-bottom: 100px;
}
.section_title {
    margin-bottom: 25px;
    text-align: center;
    display: block;
}
.section_title p:last-child,
.section_title h2:last-child,
.section_title h3:last-child {
    margin-bottom: 0px;
}
.section_title.left {
    text-align: left;
}
.fit_img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.fit_img.fullheight {
    height: 100%;
}
.fit_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.smw_paragraph {
    max-width: 760px;
    margin: 0 auto;
}
.smw_paragraph p:last-child {
    margin-bottom: 0;
}
.green_bg {
    background-color: #cfd827;
}
.purple_bg {
    background-color: #4853a5;
}
.pink_bg {
    background-color: #e54b93;
}
.pink_bg h2 a {
    color: #000000;
}
.pink_bg h2 a:hover {
    text-decoration: underline;
}
@media (max-width: 1600px) {
    .sections.lg_bt {
        padding-bottom: 80px;
    }
    .sections.sm {
        padding: 30px 0;
    }
}
@media (max-width: 1199px) {
    .sections {
        padding: 40px 0;
    }
    .sections.lg {
        padding: 70px 0;
    }
    .sections.lg_bt {
        padding-bottom: 70px;
    }
    .sections.sm {
        padding: 20px 0;
    }
}
@media (max-width: 991px) {
    .sections {
        padding: 35px 0;
    }
    .sections.lg {
        padding: 60px 0;
    }
    .sections.lg_bt {
        padding-bottom: 60px;
    }
    .section_title {
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .sections {
        padding: 35px 0;
    }
    .sections.lg {
        padding: 50px 0;
    }
    .sections.lg_bt {
        padding-bottom: 50px;
    }
    .section_title {
        margin-bottom: 15px;
    }
    .sections.sm {
        padding: 15px 0;
    }
}
@media (max-width: 575px) {
    .sections {
        padding: 25px 0;
    }
    .sections.lg_bt {
        padding-bottom: 40px;
    }
}

/* Go up */
.go-up {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    cursor: pointer;
    width: 35px;
    height: 30px;
    position: fixed;
    font-size: 14px;
    line-height: 32px;
    right: 10px;
    bottom: -40px;
    border-bottom: none;
    text-align: center;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    border-radius: 30px 30px 0 0;
}
.go-up:hover {
    background-color:  rgba(0,0,0,1);
}

@media (max-width: 768px) {
    .go-up {
        width: 24px;
        height: 22px;
        font-size: 12px;
        line-height: 24px;
    }
}


/**/
.our_goal .sections {
    padding-bottom: 100px;
}
.our_goal h2 {
    font-size: 48px;
    font-family: 'FuturaStd-Book';
    text-transform: inherit;
    letter-spacing: 1.3px;
}
.our_goal h2 strong {
    font-family: 'Futura-Heavy';
    color: #4853a5;
}
.goal_col {
    margin-top: -80px;
}
.goal_col .row {
    margin: 0 -30px;
}
.goal_col .row > div {
    padding: 0 30px 30px;
}
.icon_box {
    text-align: center;
}
.icon_box h3 {
    font-size: 60px;
    font-family: 'BebasNeueRegular';
    font-weight: 600;
    color: #4853a5;
    margin-bottom: 15px;
}
.icon_box .fit_img {
    height: 196px;
    width: 196px;
    margin: 0 auto 15px;
}
.icon_box .fit_img img {
    object-fit: contain;
}
@media(max-width:1199px){
    .our_goal .sections {
        padding-bottom: 80px;
    }
    .goal_col {
        margin-top: -70px;
    }
    .our_goal h2 {
        letter-spacing: 0.8px;
        font-size: 40px;
    }
    .icon_box .fit_img {
        height: 160px;
        width: 160px;
        margin: 0 auto 10px;
    }
    .icon_box h3 {
        font-size: 50px;
        margin-bottom: 10px;
    }
}
@media(max-width:991px){
    .our_goal h2 {
        font-size: 36px;
    }
    .icon_box {
        max-width: 300px;
        margin: 0 auto;
    }
    .goal_col .row > div {
        padding: 0 30px 20px;
    }
}
@media(max-width:767px){
    .our_goal h2 {
        font-size: 30px;
        letter-spacing: 0.6px;
        line-height: 1.3;
    }
    .icon_box .fit_img {
        height: 140px;
        width: 140px;
    }
}
@media(max-width:575px){
    .our_goal .sections {
        padding-bottom: 60px;
    }
    .our_goal h2 {
        letter-spacing: 0.3px;
        font-size: 20px;
        line-height: 1.4;
    }
    .goal_col {
        margin-top: -60px;
    }
    .icon_box .fit_img {
        height: 120px;
        width: 120px;
    }
}

/**/
.img_textline {
    text-align: center;
    margin-bottom: 40px;
}
.img_textline .fit_img {
    position: relative;
    height: 525px;
    margin-bottom: 30px;
}
.img_textline .fit_img img {
    object-position: top center;
}
.img_textline .fit_img h2 {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    z-index: 2;
    background-color: rgba(72, 83, 165, 0.7);
    color: #fff;
}
.img_textline p {
    max-width: 570px;
    margin: 0 auto 30px;
    padding: 0 20px;
}

.img_textline .my_btn {
    margin-bottom: 15px;
}

.pd_lr{
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 1600px) {
    .img_textline .fit_img {
        height: 430px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1199px) {
    .img_textline {
        margin-bottom: 20px;
    }
    .img_textline .fit_img {
        height: 320px;
    }
    .img_textline .fit_img h2 {
        padding: 10px;
        top: 46%;
    }
}
@media (max-width: 991px) {
    .img_textline p {
        margin: 0 auto 20px;
    }
    .textimg_section .row > div img {
        max-width: 400px;
        margin: 0 auto;
    }
    .textimg_section .row > div {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .textimg_section .btn_holder.left {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .img_textline {
        margin-bottom: 10px;
    }
    .img_textline .my_btn {
        margin-bottom: 5px;
    }
    .textimg_section .row > div img {
        max-width: 300px;
    }
}
@media (max-width: 575px) {
    .img_textline p {
        margin: 0 auto 10px;
    }
    .img_textline .fit_img h2 {
        padding: 7px;
        font-size: 24px;
    }
    .textimg_section .row > div img {
        max-width: 250px;
    }
}
@media (max-width: 460px) {
    .img_textline .fit_img {
        height: 280px;
        margin-bottom: 15px;
    }
}
@media (max-width: 380px) {
    .img_textline .fit_img {
        height: 240px;
    }
}

/**/
.event_box {
    display: block;
    text-align: center;
    margin: 20px 0;
}
.event_box .fit_img {
    height: 255px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 2px solid #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.event_box .fit_img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.event_box:hover .fit_img {
    border: 2px solid #cfd827;
}
.event_box p {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.event_box:hover p {
    color: #cfd827;
}
@media(max-width:1600px){
    .pd_lr {
        padding-left: 30px;
        padding-right: 30px;
    }
    .event_box .fit_img {
        height: 180px;
        padding: 10px;
    }
}
@media(max-width:1199px){
    .pd_lr {
        padding-left: 30px;
        padding-right: 30px;
    }
    .event_box .fit_img {
        height: 180px;
    }
}
@media(max-width:991px){
    .pd_lr {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width:575px){
    .event_box .fit_img {
        height: 160px;
    }
    .event_box {
        margin: 15px 0;
    }
}
@media(max-width:460px){
    .event_box .fit_img {
        height: 140px;
    }
}
@media(max-width:380px){
    .event_box .fit_img {
        height: 110px;
        margin-bottom: 10px;
    }
    .pd_lr {
        padding-left: 10px;
        padding-right: 10px;
    }
    .event_box p {
        font-size: 14px;
    }
}

/**/
.story_section .fit_img {
    width: 480px;
    height: 605px;
    margin: 0 auto;
    position: relative;
}
.story_section .fit_img:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 215px;
    height: 220px;
    background-image: url(../images/swirl1.png);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}
.story_section .fit_img h3 {
    font-size: 32px;
    text-align: right;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 15px;
    z-index: 1;
    background-color: rgba(72, 83, 165, 0.7);
    color: #fff;
}
/**/
.footer {
    padding: 15px 0;
    background-color: #58585a;
    text-align: center;
}
.p_link {
    text-align: center;
}
.p_link p {
    margin-bottom: 10px;
    font-size: 14px;
}
.p_link a {
    color: #000;
}
.p_link a:hover {
    color: #4853a5;
}
.footer ul {
    margin-bottom: 10px;
}
.footer ul li {
    display: inline-block;
    margin: 20px;
}
.footer ul li a:hover {
    text-decoration: none;
    color: #cfd827;
}
.footer p {
    font-family: 'BebasNeueRegular';
    margin-bottom: 0;
}
@media(max-width:1600px){
    .story_section .fit_img {
        width: 440px;
        height: 555px;
    }
    .story_section .fit_img:before {
        width: 175px;
        height: 180px;
    }
    .story_section .fit_img h3 {
        font-size: 30px;
        padding: 12px;
    }
}
@media(max-width:1199px){
    .story_section .fit_img {
        width: 400px;
        height: 505px;
    }
    .story_section .fit_img h3 {
        font-size: 28px;
    }
    .footer ul li {
        margin: 15px;
    }
    .p_link p {
        font-size: 13px;
    }
}
@media(max-width: 991px){
    .story_section {
        text-align: center;
    }
    .story_section p {
        max-width: 450px;
        text-align: center;
        margin: 0 auto;
    }
    .story_section .btn_holder {
        text-align: center;
        margin-bottom: 35px;
    }
    .footer {
        padding: 20px 0;
    }
    .footer ul {
        margin-bottom: 25px;
    }
    .footer ul li {
        display: block;
        margin: 10px 0;
    }
    .p_link p {
        font-size: 12px;
    }
}
@media(max-width: 575px){
    .footer {
        padding: 10px 0;
    }
    .story_section .fit_img {
        width: 360px;
        height: 455px;
    }
    .story_section .fit_img:before {
        width: 135px;
        height: 140px;
    }
    .story_section .fit_img h3 {
        font-size: 26px;
    }
    .p_link p {
        font-size: 10px;
    }
}
@media(max-width: 460px){
    .story_section .fit_img {
        width: 310px;
        height: 385px;
    }
    .story_section .fit_img:before {
        width: 120px;
        height: 125px;
    }
    .story_section .fit_img h3 {
        font-size: 24px;
        padding: 10px;
    }
}
@media(max-width: 380px){
    .story_section .fit_img {
        width: 250px;
        height: 305px;
    }
    .story_section .fit_img:before {
        width: 100px;
        height: 105px;
    }
    .story_section .fit_img h3 {
        font-size: 20px;
        padding: 8px;
    }
    .p_link p {
        font-size: 9px;
    }
}

/* Wigs & Waffles */
.textimg_section p a{
    text-decoration: underline;
}
.date_time .btn_holder {
    margin-top: 10px;
}
.date_time ul li {
    font-size: 30px;
    margin-bottom: 8px;
}
.sm_img .fit_img {
    max-width: 400px;
    margin: 0 auto;
}
.sm_img .fit_img img{
    object-fit: contain;
}

/**/
.benefitting .text_pd {
    padding: 50px 180px;
}
.dark_overlay{
    position: relative;
}
.dark_overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.sponsor_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 520px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sponsor_box {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 30px;
}
.sponsor_box h2 {
    margin-bottom: 35px;
}
.sponsor_box p {
    max-width: 600px;
    margin: 0 auto 35px;
    text-align: left;
}
.sponsor_box .my_btn {
    margin-bottom: 15px;
}
/**/
.sponsor_logo {
    display: flex;
    text-align: center;
    padding: 20px 30px;
    height: 180px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0);
    margin: 20px 0;
}
.sponsor_logo:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.sponsor_logo > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/**/
.follow_us .section_title {
    margin-bottom: 40px;
}
.follow_us ul.social_media li {
    margin: 5px 25px;
}
.follow_us ul.social_media li a {
    color: #231f20;
    font-size: 64px;
    line-height: 1;
}
.follow_us ul.social_media li a:hover {
    color: #cfd827;
}
@media(max-width:1600px){
    .date_time ul li {
        font-size: 24px;
    }
    .benefitting .text_pd {
        padding: 20px 70px;
    }
    .sponsor_text {
        min-height: 450px;
    }
    .sponsor_box h2 {
        margin-bottom: 15px;
    }
    .sponsor_box p {
        margin: 0 auto 25px;
    }
    .sponsor_logo {
        padding: 10px 30px;
        height: 130px;
    }
    .follow_us ul.social_media li a {
        font-size: 56px;
    }
}
@media(max-width:1199px){
    .sm_img .fit_img {
        max-width: 330px;
    }
    .date_time ul li {
        font-size: 22px;
    }
    .benefitting .text_pd {
        padding: 15px 30px;
    }
    .sponsor_box {
        padding: 10px;
    }
    .sponsor_text {
        min-height: 400px;
    }
    .sponsor_box h2 {
        margin-bottom: 10px;
    }
    .sponsor_box p {
        margin: 0 auto 20px;
    }
    .sponsor_logo {
        padding: 10px 20px;
        height: 90px;
    }
    .follow_us ul.social_media li a {
        font-size: 50px;
    }
}
@media(max-width:991px){
    .follow_us .section_title {
        margin-bottom: 30px;
    }
    .sm_img.sections.lg {
        padding: 40px 0;
    }
    .sm_img p {
        text-align: left;
    }
    .sm_img .fit_img {
        max-width: 260px;
    }
    .date_time ul li {
        font-size: 20px;
        margin-bottom: 6px;
    }
    .benefitting .text_pd p {
        max-width: 500px;
        margin: 0 auto 20px;
    }
    .sponsor_text {
        min-height: 340px;
    }
    .sponsor_box .my_btn {
        margin-bottom: 4px;
    }
    .sponsor_logo {
        height: 80px;
    }
    .follow_us ul.social_media li a {
        font-size: 44px;
    }
    .follow_us ul.social_media li {
        margin: 5px 15px;
    }
}
@media(max-width:767px){
    .sm_img.sections.lg {
        padding: 20px 0;
    }
    .sm_img .fit_img {
        max-width: 220px;
    }
    .date_time ul li {
        font-size: 15px;
    }
    .benefitting .text_pd p {
        max-width: 400px;
    }
    .sponsor_box {
        padding: 30px;
    }
    .sponsor_box p {
        max-width: 400px;
        margin: 0 auto 20px;
        text-align: center;
    }
    .sponsor_text {
        min-height: 300px;
    }
    .sponsor_box .my_btn {
        margin-bottom: 3px;
    }
    .sponsor_logo {
        height: 65px;
        box-shadow: 0 0 20px rgb(0, 0, 0,0);
        margin: 10px 0;
        padding: 15px;
    }
    .follow_us ul.social_media li a {
        font-size: 40px;
    }
    .follow_us ul.social_media li {
        margin: 5px 10px;
    }
}
@media(max-width: 575px){
    .follow_us .section_title {
        margin-bottom: 20px;
    }
    .sm_img .fit_img {
        max-width: 180px;
    }
    .date_time ul li {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .sponsor_box {
        padding: 20px;
    }
    .follow_us ul.social_media li a {
        font-size: 36px;
    }
    .sponsor_logo {
        height: 60px;
        padding: 10px;
    }
}


/* Internal Cover */
.internal_cover .item {
    min-height: 370px;
    padding: 30px 0;
}
.internal_cover .item h1 {
    margin-bottom: 0;
}
.mainevent_box:not(:last-child) {
    margin-bottom: 120px;
}
.mainevent_box .fit_img {
    display: block;
    width: 370px;
    height: 350px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ededed;
}
.mainevent_box .fit_img img {
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.mainevent_box h2 a {
    color: #000;
}
.mainevent_box h2 a:hover {
    color: #cfd827;
}
.mainevent_box h4 {
    text-transform: capitalize;
    font-family:'FuturaStd-Book';
}
.mainevent_box h4 a {
    text-decoration: underline;
    text-transform: capitalize;
}
.mainevent_box .my_btn {
    min-width: 360px;
}
@media(max-width: 1199px){
    .internal_cover .item {
        min-height: 300px;
        padding: 25px 0;
    }
    .mainevent_box:not(:last-child) {
        margin-bottom: 110px;
    }
    .mainevent_box .my_btn {
        min-width: 340px;
    }
    .mainevent_box .fit_img {
        width: 340px;
        height: 310px;
        padding: 25px;
    }
}
@media(max-width: 991px){
    .internal_cover .item {
        min-height: 250px;
    }
    .mainevent_box:not(:last-child) {
        margin-bottom: 80px;
    }
    .mainevent_box {
        text-align: center;
    }
    .mainevent_box p,
    .mainevent_box h4 {
        text-align: left;
        max-width: 500px;
        margin: 0 auto 20px;
    }
    .mainevent_box .my_btn {
        min-width: 300px;
    }
    .mainevent_box .fit_img {
        width: 280px;
        height: 250px;
        padding: 25px;
        margin-bottom: 25px;
    }
}
@media(max-width: 767px){
    .internal_cover .item {
        min-height: 200px;
    }
    .mainevent_box:not(:last-child) {
        margin-bottom: 50px;
    }
    .mainevent_box .my_btn {
        min-width: 280px;
    }
    .mainevent_box .fit_img {
        width: 240px;
        height: 210px;
        padding: 20px;
    }
    .mainevent_box h4 {
        font-size: 18px;
    }
    .mainevent_box p,
    .mainevent_box h4 {
        margin: 0 auto 15px;
    }
}
@media(max-width: 575px){
    .internal_cover .item {
        min-height: 160px;
    }
    .mainevent_box:not(:last-child) {
        margin-bottom: 40px;
    }
    .mainevent_box .my_btn {
        min-width: 220px;
    }
    .mainevent_box .fit_img {
        width: 180px;
        height: 150px;
        padding: 15px;
    }
    .mainevent_box h4 {
        font-size: 16px;
    }
    .mainevent_box .fit_img {
        margin-bottom: 15px;
    }
}

/**/
.of_box:not(:last-child) {
    margin-bottom: 60px;
}
.of_box .fit_img {
    height: 100%;
}
.of_box .of_text {
    padding: 0 130px 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.of_box:nth-child(2n+2) > div:nth-child(1) {
    order: 6;
}
.of_box:nth-child(2n+2) .of_text {
    padding: 0 40px 0 130px;
}
.of_box .of_text p {
    margin-bottom: 50px;
}
.of_box .of_text h4 {
    font-family: 'Futura-Heavy';
    text-transform: inherit;
}
.green_bg{
    background-color: #2ecb81;
}
/**/
.boa_title{
    text-align: center;
    padding-bottom: 185px;
}
.boa_title p{
    max-width: 770px;
    margin: 0 auto;
    text-align: left;
}
.main_boa {
    margin-top: -140px;
}
.boa_box {
    text-align: center;
    margin-bottom: 60px;
}
.boa_box .fit_img {
    width: 350px;
    height: 350px;
    border: 1px solid #000;
    margin: 0 auto 20px;
}
@media(max-width:1600px) {
    .of_box .of_text {
        padding: 0 50px 0 15px;
    }
    .of_box:nth-child(2n+2) .of_text {
        padding: 0 15px 0 50px;
    }
    .of_box .of_text p {
        margin-bottom: 30px;
    }
}
@media(max-width:1199px) {
    .of_box:not(:last-child) {
        margin-bottom: 50px;
    }
    .of_box .of_text {
        padding: 0 30px 0 5px;
    }
    .of_box:nth-child(2n+2) .of_text {
        padding: 0 5px 0 30px;
    }
    .of_box .of_text p {
        margin-bottom: 20px;
    }
    .main_boa {
        margin-top: -115px;
    }
    .boa_title {
        padding-bottom: 155px;
    }
    .boa_box {
        margin-bottom: 40px;
    }
    .boa_box .fit_img {
        width: 290px;
        height: 290px;
        margin: 0 auto 15px;
    }
    .boa_box p {
        font-size: 17px;
    }
}
@media(max-width:991px) {
    .of_box:nth-child(2n+2) > div:nth-child(1) {
        order: 0;
    }
    .of_box {
        margin: 0 30px !important;
    }
    .of_box .of_text {
        padding: 30px 40px !important;
        height: auto;
    }
    .of_box:last-child .of_text {
        padding-bottom: 0 !important;
    }
    .of_box .of_text h2 {
        text-align: center;
    }
    .of_box .fit_img {
        height: 470px;
    }
    .main_boa .row {
        margin: 0 -50px;
    }
    .main_boa .row > div{
        padding: 0 50px;
    }
}
@media(max-width:767px) {
    .of_box {
        margin: 0 15px !important;
    }
    .of_box .fit_img {
        height: 260px;
    }
    .of_box .of_text {
        padding: 20px 25px !important;
    }
    .main_boa {
        padding-bottom: 30px;
    }
    .main_boa .row {
        margin: 0 -40px;
    }
    .main_boa .row > div{
        padding: 0 40px;
    }
    .boa_box {
        margin-bottom: 20px;
    }
    .boa_box .fit_img {
        width: 216px;
        height: 216px;
    }
    .boa_box p {
        font-size: 16px;
    }
    .boa_box p span {
        display: block;
    }
    .boa_box p br {
        display: none;
    }
}
@media(max-width:575px) {
    .of_box {
        margin: 0 10px !important;
    }
    .of_box .of_text {
        padding: 20px 15px !important;
    }
    .of_box .fit_img {
        height: 230px;
    }
    .main_boa {
        margin-top: -95px;
        padding-bottom: 20px;
    }
    .main_boa .row {
        margin: 0 -25px;
    }
    .main_boa .row > div{
        padding: 0 25px;
    }
    .boa_title {
        padding-bottom: 125px;
    }
    .boa_box .fit_img {
        width: 190px;
        height: 190px;
        margin: 0 auto 10px;
    }
    .boa_box p {
        font-size: 15px;
    }
}
@media(max-width:460px) {
    .internal_cover .item {
        min-height: 120px;
    }
    .of_box .fit_img {
        height: 200px;
    }
    .of_box {
        margin: 0 !important;
    }
    .of_box .of_text {
        padding: 20px 5px !important;
    }   
    .of_box .of_text h4 {
        font-size: 16px;
    }
    .of_box .of_text p {
        margin-bottom: 15px;
    }
    .main_boa .row {
        margin: 0 -20px;
    }
    .main_boa .row > div{
        padding: 0 20px;
    }
    .boa_box .fit_img {
        width: 126px;
        height: 126px;
    }
    .boa_box p {
        font-size: 12px;
    }
}


/* FAQs */
.faq_page .img_textline .fit_img {
    height: 357px;
}
.faq_box {
    padding: 30px 0;
}
.faq_box h4 {
    font-family: 'Futura-Heavy';
    text-transform: inherit;
    font-size: 24px;
    color: #4853a5;
}
.faq_page .img_textline  {
    margin-bottom: 50px;
}
@media(max-width: 1600px) {
    .faq_box {
        padding: 20px 0;
    }
    .faq_page .img_textline .fit_img h2 {
        font-size: 40px;
    }
}
@media(max-width: 1199px) {
    .faq_box {
        padding: 10px 0;
    }
    .faq_box h4 {
        text-transform: inherit;
        font-size: 20px;
    }
    .faq_page .img_textline .fit_img h2 {
        font-size: 32px;
    }
    .faq_page .img_textline .fit_img {
        height: 250px;
    }
}
@media(max-width: 991px) {
    .faq_page .img_textline {
        margin: 10px 0 30px;
    }
    .faq_page h2,
    .contact_page h2 {
        text-align: center;
    }
    .form .form_btn {
        text-align: center;
    }
}
@media(max-width: 767px) {
    .faq_box h4 {
        font-size: 18px;
    }
    .faq_page .img_textline .fit_img h2 {
        font-size: 28px;
    }
    .faq_page .img_textline .fit_img {
        height: 230px;
    }
    .faq_page .img_textline {
        margin: 5px 0 20px;
    }
}
@media(max-width: 575px) {
    .faq_box h4 {
        font-size: 16px;
    }
    .faq_page .img_textline .fit_img h2 {
        font-size: 20px;
    }
    .faq_page .img_textline .fit_img {
        height: 160px;
    }
}
/**/














